:root {
    /* VARIABLES CSS */

    /* Colores */
    --color-title: #35b0bf;
    --color-letra: #e5e5e5;
    --color-fondo: #03051c;
    --color-claro: #d2cecb;

    /* Tipografia */
    --font-family: 'Montserrat',
    sans-serif;
}

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    padding: 2rem 2rem 0;

    color: var(--color-letra);
    background-color: var(--color-fondo);
}

body::-webkit-scrollbar {
    display: none;
}

h2{
    font-size: 200%;
    font-weight: bold;

    color: var(--color-title);
}

main {
    grid-area: main;
}

.wrap {
    grid-area: wrapper;
}

@media screen and (min-width: 768px) {
    main {
        font-size: 115%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        position: relative;
        
        height: 100vh;
        padding: 0;
        display: grid;
        grid-template-areas:
        "nav"
        "wrapper";
        grid-template-rows: auto auto;
    }

    main {
        font-size: 130%;
    }

    .wrap{
        padding: 2rem 2rem 0;
        overflow: auto;
    }

    .wrap::-webkit-scrollbar {
        display: none;
    }
}
/*========================= HEADER =========================*/
.header {
    --font-size-base: 3rem;
    position: relative;

    width: 100%;
    min-width: 280px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-area: header;
}

@media screen and (min-width: 425px){
    .header {
        --font-size-base: 4rem
    }
}

@media screen and (min-width: 768px) {
    .header {
        --font-size-base: 6.7rem
    }
}

@media screen and (min-width: 1024px) {
    .header {
        --font-size-base: 8rem
    }
}

/*==================== Title ====================*/

.container-title {
    position: absolute;
    top: 0;
    left: 0;

    font-size: var(--font-size-base);

    width: 32%;
}

@media screen and (min-width: 768px) {
    .container-title {
        left: 2rem;
    }
}

.title {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    font-size: 100%;
    font-weight: 500;
}

.title-span {
    font-size: 120%;
    font-weight: 700;

    color: var(--color-title);
}

.title-line {
    border-top: solid 2px var(--color-claro);
}

.title-description {
    margin-bottom: 0;
    margin-top: 1rem;

    font-size: 50%;
}

/*================== Photo ==================*/
.container-photo{
    position: relative;

    width: 70%;
    max-width: 300px;
}

.circle{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: #2a2b3d;
    clip-path: circle();
}

.photo {
    width: 100%;
}

/*================ Experience ================*/
.container-experience {
    position: absolute;
    top: 10%;
    right: 0;

    width: 35%;

    font-size: var(--font-size-base);
}

@media screen and (min-width: 768px) {
    .container-experience {
        right: 2rem;
    }
}

.experience-description {
    margin-top: 0;

    font-weight: 600;
    font-size: 50%;
}

.experience-span {
    color: var(--color-title);
}

/*================= Networks =================*/
.networks-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.network-link {
    position: relative;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.network-link::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: var(--color-fondo);
}

.network-link--github{
    background-image: url('./../assets/icons/github-filled.svg');
}

.network-link--linkedin {
    background-image: url('./../assets/icons/linkedin-filled.svg');
}

.network-link--twitter {
    background-image: url('./../assets/icons/twitter.svg');
}

@media screen and (min-width: 425px) {
    .network-link {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .networks-container {
        justify-content: start;
        gap: 1rem;
    }

    .network-link {
        width: 60px;
        height: 60px;
    }
}
/*===================== CV =====================*/
.container-cv {
    width: 100%;
    max-width: 605px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-base);

    background-color: #2a2b3d;
    border-radius: 5px;
}

.link-cv {
    display: inline-block;
    padding: 0.5rem;

    font-size: 50%;
    text-decoration: none;
    font-weight: 600;
    text-align: center;

    background-color: var(--color-claro);
    color: var(--color-fondo);
    border-radius: 5px;
}

/*========================= NAVBAR =========================*/

/*================= Styles Menu =================*/
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    height: 100vh;
    width: 100vw;
    grid-area: nav;

    font-size: 100%;

    background-color: hsla(0, 0%, 0%, 0.861);

    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.menu-list {
    padding: 2rem;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .menu {
        font-size: 115%;
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        position: static;

        width: unset;
        height: 65px;

        font-size: 70%;

        transform: none;
    }

    .menu-list {
        flex-direction: row;

        justify-content: space-between;
    }

    button.btn-menu {
        display: none;
    }
}

.menu-item {
    width: 100%;
    text-align: center;
}

.menu-link{
    display: block;
    padding: 2rem;

    text-decoration: none;
    font-size: 156.25%;

    color: inherit;
    border-radius: 10px;
}

.menu-link:hover{
    font-weight: 600;

    color: var(--color-fondo);
    background-color: var(--color-title);
}

/*================ Activator Button ================*/

.btn-menu{
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    z-index: 1;

    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-title);
}

.menu-active {
    transform: translateY(0);
}

/*================== Scroll-Spy ==================*/
.spy {
    font-weight: 600;

    color: var(--color-fondo);
    background-color: var(--color-title);
}
/*========================== BODY ==========================*/

/*========================= SECTION =========================*/
.section {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 280px;
    max-width: 900px;

    text-align: center;
}

.section-title{
    margin-top: 0;
    margin-bottom: 2rem;
}

.section-p{
    margin: 0 auto;
}


/*======================== SERVICES ========================*/

.services {
    position: relative;

    padding-bottom: 1rem;
    display: flex;
    align-items: center;

    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

.services::-webkit-scrollbar {
    display: none;
}

.service {
    position: relative;

    min-width: 70%;
    min-height: 316px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: var(--color-letra);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--color-title);

    scroll-snap-align: center;
    overflow: hidden;
}

.service-elipse {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 50%;

    background-color: var(--color-claro);
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
}

.service-contain {
    position: relative;
}

.service-title {
    margin-top: 0;

    text-align: center;
    font-size: 138%;

    color: var(--color-title);
}

.service-logo {
    display: block;
    margin: 0 auto 1rem;
}

.service-description {
    margin: 0;

    text-align: center;
    font-size: 100%;

    color: var(--color-fondo);
}

.services-btns {
    position: sticky;
    left: 0;

    display: flex;
    justify-content: space-between;
    min-width: 100%;

}

.services-btn {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;

    font-size: 400%;

    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-title);

    cursor: pointer;
    transition: transform 0.2s ease;
}

.services-btn:hover {
    transform: scale(1.5);
}

/*========================= SKILLS =========================*/
.skills {
    margin-bottom: 3rem;
}

.skills-title{
    margin-top: 0;

    font-size: 156%;
    font-weight: 500;
    text-align: left;

    color: var(--color-title);
}

.skills-list {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 2rem;
    

    text-align: center;

    list-style-type: none;
}

@media screen and (min-width: 450px){
    .skills-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .skills-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.skills-skill {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;

    font-weight: bold;
    font-size: 113%;

    border-left: 3px solid var(--color-title);
    border-top: 3px solid var(--color-title);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px var(--color-title);

    overflow: hidden;
    transition: color ease 0.2s, background-color ease 0.2s;
}

.skill-skills--white {
    border-left: 3px solid var(--color-claro);
    border-top: 3px solid var(--color-claro);
    box-shadow: 5px 5px 5px var(--color-claro);
    color: var(--color-title);
}

.skill-aviso {
    margin-top: 1rem;

    font-size: 75%;
    font-weight: normal;
}

.skill-loaded {
    color: var(--color-fondo);
    background-color: var(--color-claro);
}

/*================ Icono de Skill ================*/

.skill-figure {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
}

.skill-img {
    width: 120px;
    height: 120px;
}

/*=============== Animación Barra de carga ===============*/

.counter {
    color: lightseagreen;
    margin: 0;
    font-size: 125%;
    margin-bottom: 0.5rem;
}

.progress-bar {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    transition: opacity ease 0.3s;
    opacity: 0;
}

.bar {
    width: 100%;
    height: 16px;
    border: 3px solid;
    border-radius: 8px;
    overflow: hidden;
}

.progress {
    height: 100%
}

.cargando {
    animation: cargar 1s linear 0s 1 normal forwards;
}

@keyframes cargar {
    0% {
        background-color: lightseagreen;
        transform: translateX(-100%);
    }

    25% {
        background-color: greenyellow;
        transform: translateX(-75%);
    }

    50% {
        background-color: lightseagreen;
        transform: translateX(-50%);
    }

    75% {
        background-color: greenyellow;
        transform: translateX(-25%);
    }

    100% {
        background-color: lightseagreen;
        transform: translateX(0%);
    }
}

/*================== Sub-lista ==================*/

.skill-list{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    font-size: 83%;
    
    list-style-type: disc;
    opacity: 0;

    transition: opacity ease 0.3s;
}

.skill-item {
    font-weight: normal;
    font-size: 94%;
    text-align: left;
}

.none {
    display: none;
}

.visible {
    opacity: 1;
}

/*============== Animación Sacudida ==============*/

.sacudir {
    animation: sacudir 1s linear 1 normal backwards;
}

@keyframes sacudir {
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
}

/*====================== PROYECTOS ======================*/
.subsection--grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    text-align: center;
}

@media screen and (min-width: 768px) {
    .subsection--grid {
        grid-template-columns: 1fr 1fr;
    }
}

.project {
    padding: 1rem 0;
    
    background-color: #333;
    box-shadow: 5px 5px 5px #000;
}

.project-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0;

    font-size: 140%;
    
    color: aliceblue;
    background-color: hsla(186, 57%, 47%);

    clip-path: polygon(0 0, 0 80%, 100% 100%, 100% 20%);
}

.project-contain {
    padding: 0 1rem;
}

.project-img {
    max-width: 100%;
}

.project-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-btns {
    padding: 0 1rem 0.8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project-link{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;

    color: aliceblue;
    border-radius: 10px;
    background-color: #34b0be;
    box-shadow: 0px 7px 0 hsl(186, 57%, 25%),
    0 8px 3px #0000004d;
}

.project-link:active {
    color: #aaa;
    background-color: linear-gradient(to bottom, #fff6, #fff8),#34b0be;
    transform: translateY(5px);
    box-shadow: 0 2px 0 hsl(186, 57%, 30%),
    0 3px 3px #0000004d;
}

.link-span {
    display: inline-block;
    width: 30px;
    height: 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-span--github {
    background-image: url(./../assets/icons/github.svg);
}

.link-span--visit {
    background-image: url(./../assets/icons/internet.svg);
}

/*======================= MARKS TEXT =======================*/
.mark {
    --color-title: transparent;
    position: relative;
    display: inline-block;

    transition: transform 0.5s;
}

.mark:hover {
    transform: scale(1.4) rotate(-4deg);
    color: aliceblue;
}

.mark::before {
    content: "";

    width: 100%;
    height: 100%;
    padding: 0 4px;
    position: absolute;
    z-index: -1;

    background-color: var(--color-title);
    transform: rotate(-2deg) translate(-4px,-2px);

    transition: transform 0.5s;
}

.mark:hover::before {
    transform: rotate(2deg) translateX(-4px) scale(1.2);
}

.mark--violet {
    --color-title: #6441a5;
}

.mark--blue {
    --color-title: rgb(7,101,215);
}